In [2]:
import pandas as pd
import glob
import os

In [4]:
archivos = glob.glob('tabla_*.xlsx')
len(archivos)

lista_archivos = []
for f in archivos:
    datos = pd.read_excel(f)
    nombre = os.path.basename(f)
    datos['tablas_num'] = nombre
    lista_archivos.append(datos)

df_consumoEnergia = pd.concat(lista_archivos, ignore_index=True)

df_consumoEnergia.tail()

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW),tablas_num
37996,30/4/2022 23:00:00,561.0,41.361668,45.970928,136.364151,190.365860,tabla_2204.xlsx
37997,30/4/2022 23:15:00,572.0,41.342281,41.040997,135.091873,187.250534,tabla_2204.xlsx
37998,30/4/2022 23:30:00,482.0,7.884779,46.314167,122.927292,153.835236,tabla_2204.xlsx
37999,30/4/2022 23:45:00,455.0,7.463580,32.700390,116.371727,147.870026,tabla_2204.xlsx
38000,1/5/2022 00:00:00,359.0,4.567657,32.796932,103.048500,97.784195,tabla_2204.xlsx

In [6]:
print('Cantidad de filas y columnas: ', df_consumoEnergia.shape)
print('Nombre de Columnas: ', df_consumoEnergia.columns)

Cantidad de filas y columnas:  (38001, 7)
Nombre de Columnas:  Index(['Timestamp', 'COCS.COCS-MT-01\nReal Power\n(kW)',
       'COCS.COCS-TR-01\nReal Power\n(kW)',
       'COCS.COCS-TR-02\nReal Power\n(kW)',
       'COCS.COCS-TR-03\nReal Power\n(kW)',
       'COCS.COCS-TR-04\nReal Power\n(kW)', 'tablas_num'],
      dtype='object')

In [7]:
df_consumoEnergia.to_excel('tablasConcatenadas.xlsx', index=False)