In [1]:
import pandas as pd
import numpy as np

In [2]:
dfconsumo=pd.read_excel('2105.xlsx')
dfconsumo.tail()

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW)
2976,31/5/2021 23:00:00,301.0,6.378243,34.681957,134.695786,79.519142
2977,31/5/2021 23:15:00,296.0,6.311434,32.507881,128.308884,63.372307
2978,31/5/2021 23:30:00,267.0,6.144893,31.896196,104.552101,55.514927
2979,31/5/2021 23:45:00,261.0,6.217927,31.171919,92.381035,48.562359
2980,1/6/2021 00:00:00,274.0,6.356359,31.153002,105.232864,48.725208

In [3]:
null_columns = dfconsumo.columns[dfconsumo.isnull().any()]
dfconsumo[null_columns].isnull().sum()
print(dfconsumo[dfconsumo.isnull().any(axis=1)][null_columns].head())

     COCS.COCS-MT-01\nReal Power\n(kW)  COCS.COCS-TR-01\nReal Power\n(kW)  \
384                                NaN                                NaN
385                                NaN                                NaN
386                                NaN                                NaN
387                                NaN                                NaN
388                                NaN                                NaN

     COCS.COCS-TR-02\nReal Power\n(kW)  COCS.COCS-TR-03\nReal Power\n(kW)  \
384                                NaN                                NaN
385                                NaN                                NaN
386                                NaN                                NaN
387                                NaN                                NaN
388                                NaN                                NaN

     COCS.COCS-TR-04\nReal Power\n(kW)
384                                NaN
385                                NaN
386                                NaN
387                                NaN
388                                NaN

In [4]:
for col in list(dfconsumo.columns)[1:]:
    for i in range(len(dfconsumo[col])):
        if np.isnan(dfconsumo[col][i]):
            if i == 0:
                dfconsumo[col][i] = dfconsumo[col][i+1]
            elif i == len(dfconsumo[col]) - 1:
                dfconsumo[col][i] = dfconsumo[col][i-1]
            else:
                dfconsumo[col][i] = (dfconsumo[col][i+1] + dfconsumo[col][i-1])/2

dfconsumo

C:\Users\adiav\AppData\Local\Temp/ipykernel_764/1311653952.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfconsumo[col][i] = (dfconsumo[col][i+1] + dfconsumo[col][i-1])/2

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW)
0,1/5/2021 00:15:00,278.0,4.444181,37.127506,92.625191,49.912403
1,1/5/2021 00:30:00,293.0,4.481414,32.889336,108.112083,43.096394
2,1/5/2021 00:45:00,271.0,4.059173,37.001774,103.336754,39.659840
3,1/5/2021 01:00:00,235.0,4.148477,31.026682,87.374908,37.368099
4,1/5/2021 01:15:00,239.0,4.127315,33.627064,99.272392,34.258724
...,...,...,...,...,...,...
2976,31/5/2021 23:00:00,301.0,6.378243,34.681957,134.695786,79.519142
2977,31/5/2021 23:15:00,296.0,6.311434,32.507881,128.308884,63.372307
2978,31/5/2021 23:30:00,267.0,6.144893,31.896196,104.552101,55.514927
2979,31/5/2021 23:45:00,261.0,6.217927,31.171919,92.381035,48.562359
2980,1/6/2021 00:00:00,274.0,6.356359,31.153002,105.232864,48.725208

In [5]:
#no se completan los datos cuando hay varias filas vacías no puede calcular sobre ceros
dfconsumo.to_excel('2105_lleno.xlsx', index=False)

In [6]:
null_columns = dfconsumo.columns[dfconsumo.isnull().any()]
dfconsumo[null_columns].isnull().sum()
print(dfconsumo[dfconsumo.isnull().any(axis=1)][null_columns].head())

     COCS.COCS-MT-01\nReal Power\n(kW)  COCS.COCS-TR-01\nReal Power\n(kW)  \
384                                NaN                                NaN
385                                NaN                                NaN
386                                NaN                                NaN
387                                NaN                                NaN
388                                NaN                                NaN

     COCS.COCS-TR-02\nReal Power\n(kW)  COCS.COCS-TR-03\nReal Power\n(kW)  \
384                                NaN                                NaN
385                                NaN                                NaN
386                                NaN                                NaN
387                                NaN                                NaN
388                                NaN                                NaN

     COCS.COCS-TR-04\nReal Power\n(kW)
384                                NaN
385                                NaN
386                                NaN
387                                NaN
388                                NaN

In [7]:
#enlas celdas de las filas vacías de corrido completa con el promedio de la columna
dfconsumo = dfconsumo.fillna(dfconsumo.mean())

C:\Users\adiav\AppData\Local\Temp/ipykernel_764/1795052397.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dfconsumo = dfconsumo.fillna(dfconsumo.mean())

In [8]:
null_columns = dfconsumo.columns[dfconsumo.isnull().any()]
dfconsumo[null_columns].isnull().sum()
print(dfconsumo[dfconsumo.isnull().any(axis=1)][null_columns].head())

Empty DataFrame
Columns: []
Index: []

In [9]:

dfconsumo.to_excel('2105_promcolum.xlsx', index=False)

In [15]:
print('Cantidad de filas y columnas: ', dfconsumo.shape)
print('Nombre de Columnas: ', dfconsumo.columns)

Cantidad de filas y columnas:  (2981, 6)
Nombre de Columnas:  Index(['Timestamp', 'COCS.COCS-MT-01\nReal Power\n(kW)',
       'COCS.COCS-TR-01\nReal Power\n(kW)',
       'COCS.COCS-TR-02\nReal Power\n(kW)',
       'COCS.COCS-TR-03\nReal Power\n(kW)',
       'COCS.COCS-TR-04\nReal Power\n(kW)'],
      dtype='object')

In [18]:
dfconsumo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2981 entries, 0 to 2980
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Timestamp                        2981 non-null   object
 1   COCS.COCS-MT-01
Real Power
(kW)  2981 non-null   float64
 2   COCS.COCS-TR-01
Real Power
(kW)  2981 non-null   float64
 3   COCS.COCS-TR-02
Real Power
(kW)  2981 non-null   float64
 4   COCS.COCS-TR-03
Real Power
(kW)  2981 non-null   float64
 5   COCS.COCS-TR-04
Real Power
(kW)  2981 non-null   float64
dtypes: float64(5), object(1)
memory usage: 139.9+ KB

In [17]:
dfconsumo.describe()

,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW)
count,2981.000000,2981.000000,2981.000000,2981.000000,2981.000000
mean,424.304259,20.914866,82.245846,154.737936,80.867724
std,214.838098,30.644278,66.653946,51.717740,67.942245
min,181.000000,3.941738,25.129389,65.729790,16.692114
25%,257.000000,4.275460,32.713654,104.740967,36.904598
50%,338.000000,6.232645,39.981251,153.214493,61.729221
75%,616.000000,30.360392,173.427994,196.721359,108.841370
max,1403.000000,275.770172,238.053055,307.620789,506.959015

In [34]:
#Agregamos columnas Suma TRs y atribuimos la diferencia con MT por consumo Cine
dfconsumo['Suma-TR-1,2,3,4-(Kw)']=dfconsumo.loc[:, [
    'COCS.COCS-TR-01\nReal Power\n(kW)', 'COCS.COCS-TR-02\nReal Power\n(kW)', 'COCS.COCS-TR-03\nReal Power\n(kW)', 'COCS.COCS-TR-04\nReal Power\n(kW)']].sum(axis=1)
dfconsumo['Diferencia_cine']=dfconsumo.loc[:, 'COCS.COCS-MT-01\nReal Power\n(kW)'] - dfconsumo.loc[:,'Suma-TR-1,2,3,4-(Kw)']
df_sumaTR_dif_cine=dfconsumo
df_sumaTR_dif_cine.head()

,Timestamp,COCS.COCS-MT-01\nReal Power\n(kW),COCS.COCS-TR-01\nReal Power\n(kW),COCS.COCS-TR-02\nReal Power\n(kW),COCS.COCS-TR-03\nReal Power\n(kW),COCS.COCS-TR-04\nReal Power\n(kW),"Suma-TR-1,2,3,4-(Kw)",Diferencia_cine
0,1/5/2021 00:15:00,278.0,4.444181,37.127506,92.625191,49.912403,184.109281,93.890719
1,1/5/2021 00:30:00,293.0,4.481414,32.889336,108.112083,43.096394,188.579227,104.420773
2,1/5/2021 00:45:00,271.0,4.059173,37.001774,103.336754,39.659840,184.057540,86.942460
3,1/5/2021 01:00:00,235.0,4.148477,31.026682,87.374908,37.368099,159.918166,75.081834
4,1/5/2021 01:15:00,239.0,4.127315,33.627064,99.272392,34.258724,171.285495,67.714505

In [ ]:
#Promedios consumos con suma TRs y diferencia cine
df_sumaTR_dif_cine = df_sumaTR_dif_cine.fillna(df_sumaTR_dif_cine.mean())
df_sumaTR_dif_cine.head()